.item {
    display: inline-block;
    padding: 6px 10px;
    border:1px solid #ccc;
    margin: 2px;
    color: rbg(23,96,121);
}

.item.disabled {
    color: #ccc;
    cursor: none;
}
.current {
    margin-left: 10px;
}
.active {
    border:none;
    color: #f40;
    cursor: pointer;
}